html, body{
    padding:0;
    margin:0;
}

.axis path, .axis line{
    fill:none;
    stroke:#eee;
    shape-rendering: crispEdges;
}

.axis text{
    font-size: 8px;
}

.bar {
    fill: steelblue;

}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}
.axis text {
    font-size: 11px;
}
.axis.dotted line,
.axis.dotted path {
    stroke-dasharray: 0.9;
    stroke:red;
}
.ocean{
    fill:#759dd1;
}
.land{
    fill:lightgoldenrodyellow;
    stroke:black;
    stroke-width: 1px;
}
.admin{
    fill:none;

    stroke:dimgrey;
    stroke-width: 1px;
}
.urban{
    fill: saddlebrown;
}
.water{
    fill:None;
    stroke-width: 0.03em;
    stroke:#1f77b4;
}
.route{
    stroke-width: 0.5px;
    stroke:indigo;
}